terraform {
  backend "s3" {
    bucket         = "bank-prod-terraform-state"
    key            = "bank-account-service/terraform.tfstate"
    region         = "eu-west-2"
    dynamodb_table = "bank-prod-terraform-locks"
    encrypt        = true
  }
}
